*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary:#001C30;
    --secondary:#F2BE22;
    --tertiary:#F24C3D;

}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary);
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color: #F2BE22;
    position: fixed;
    top:0;
    z-index: 99;
    left: 0;
    right: 0;

}
.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}
.company-logo img{
    width: 100px;
}
.nav-links ul{
    gap: 20px;
}
.hover-link{
cursor: pointer;
}
.hover-link:hover{
    color: #F24C3D;
}
.hover-link:active{
    color: red;
}
.nav-item.active{
    color: red;
}
.search-bar{
    height: 32px;
    gap: 10px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}
.search-button{
    background-color: #001C30;
    color: aliceblue;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.search-button:hover{
    background-color: #F24C3D;
}
main{
    padding-block: 20px;
    margin-top: 150px;
}
.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    border-radius: 4px;
    cursor: pointer;
    background-color: aliceblue;
    overflow: hidden;
}
.card:hover{
    box-shadow: 1px 1px 8px aliceblue;
    background-color: aliceblue;
    transform: translateY(-2px);

}
.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}
.toggle{
    background-color: #001C30;
    color: aliceblue;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.dark{
    background-color: black;

}
.white{
    background-color: white;
    color: black;
}
